<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HeadName</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<body>
<h1>Hello</h1>
<div id="container"></div>
<button id="getAllProducts">ALL PRODUCTS</button>
<input id="ProductID"></input>
<button id="getProductById">GET PRODUCT BY ID</button>
<button id="Buy">BUY</button>
<input id="TicketID"></input>
<button id="getTicketById">GET TICKET BY ID</button>
<br/>
<input id="email"></input>
<input id="pass"></input>
<button id="login">Login</button>
</body>

<script>
    $(document).ready(function() {
        $("#getAllProducts").click(function() {
            $.ajax({
                url: "http://localhost:8000/allProducts",
                success: function(result) {
                    $("#container").html(result);
                }
            });
        });

        $("#getProductById").click(function() {
            $.ajax({
                type: "POST",
                url: "http://localhost:8000/productByID",
                data: JSON.stringify({id : $("#ProductID").val()}),
                success: function(result) {
                    $("#container").html(result);
                }
            });
			});


        $("#getTicketById").click(function() {
            $.ajax({
                type: "POST",
                url: "http://localhost:8000/ticketByID",
                data: JSON.stringify({id : $("#TicketID").val()}),
                success: function(result) {
                    $("#container").html(result);
                }
            });
        });

         $("#login").click(function() {
            $.ajax({
                type: "POST",
                url: "http://localhost:8000/login",
                //data: JSON.stringify({email : $("#email").val(), pass : $("#pass").val()}),
                data: $("#email").val() + ";" + $("#pass").val(),
               success: function(result) {
                  $("#container").html(result);
              }
            });
        });
		});
</script>

</html>