<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HeadName</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<body>
<h1>Hello</h1>
<div id="container"></div>
<input id="ProductID"></input>
<button id="getDataButton">Get Data</button>
<button id="ajaxRequest">AJAX REQ</button>
<button id="ajaxPost">POST Data</button>
</body>

<script>
    $(document).ready(function() {
        $("#ajaxRequest").click(function() {
            $.ajax({
                url: "http://localhost:8000/test?id=2",
                // data: {
                //     zipcode: 97201
                // },
                success: function(result) {
                    $("#container").html(result);
                }
            });
        });
        function sendData() {
            console.log(new Date());
            document.getElementById('container').innerHTML = "Button was pressed";
        }
        function loadDoc() {
            // ajax
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("container").innerHTML =
                        this.responseText;
                }
            };
            xhttp.open("GET", "http://localhost:8000/test?id=1", true);
            xhttp.send();
        }
        $("#ajaxPost").click(function() {
            $.ajax({
                type: "POST",
                url: "http://localhost:8000/post-info?id=1",
                data: JSON.stringify({id : $("#ProductID").val()}),
                success: function(result) {
                    $("#container").html(result);
                }
            });
        });

        function postInfo() {
            // ajax
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("container").innerHTML =
                        this.responseText;
                }
            };
            xhttp.open("POST", "http://localhost:8000/post-info", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send("some\n");
        }
    });
</script>

</html>