<!DOCTYPE html>
<html>
<head>
<title>Luxury Watches | Home</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
<script src="js/jquery-1.11.0.min.js"></script>
	<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
	<script src="js/addProduct.js" type="text/javascript"></script>
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body> 
	<!--top-header-->
	<div class="top-header"></div>
	<!--top-header-->
	<!--start-logo-->
	<div class="logo">
		<a href="index.html"><h1>BEST BUY</h1></a>
	</div>
	<!--start-logo-->
	<!--bottom-header-->
	<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue">
						<li class="active"><a href="index.html">Home</a></li>
						<li class="grid"><a href="contact.html">Contact</a></li>
						<li class="grid"><a href="account.html">My Account</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--bottom-header-->
	<!--contact-start-->
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h2>Add product to database</h2>
			</div>
			<div class="contact-text">
				<div class="col-md-9 contact-right">
					<form id ="productForm" method="post">
						<input id="name" type="text" placeholder="Name">
						<input id="price" type="text" placeholder="Price">
						<input id="imageUrl" type="text" placeholder="URL">
						<textarea id="ProductDescription" placeholder="Description" required=""></textarea>
						<div class="submit-btn">
							<input id="addProductButton" type="submit" value="SUBMIT">
						</div>
					</form>
					<input type="file" id="files" name="files[]" onchange="handleFileSelect(event);" multiple >
					<output id="list"></output>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--contact-end-->
	<!--product-starts-->
	<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div id="product-one">
					<div id="Result"></div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--product-end-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
				</div>
				<div class="col-md-6 footer-right">					
					<p>© 2017 Luxury Watches. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->	
</body>
<style>
	.thumb {
		height: 75px;
		border: 1px solid #000;
		margin: 10px 5px 0 0;
	}
</style>
</html>