<!DOCTYPE html>
<html>
	<head>
		<script src="js/libs/jquery-1.11.0.min.js"></script>
		<script src="js/libs/simpleCart.min.js"> </script>
		<script src="js/libs/jquery.tmpl.js"></script>
		<script src="js/main.js"></script>

		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script id="singleTmpl" type="text/x-jquery-tmpl">
					<div class="col-md-5 single-top-left">
					<img id="productImg" img data-imagezoom='true' class='img-responsive'>
					<div align="center"><span  onClick="bck()">◄◄</span>
					<span  onClick="frw()">►►</span></div>  
					</div>	
			<div class="col-md-7 single-top-right">
				<div class="single-para simpleCart_shelfItem">
				<h2>${name}</h2>
					<div class="star-on">
						<ul class="star-footer">
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i> </i></a></li>
							</ul>
					<div class="clearfix"> </div>
					</div>

					<h5 class="item_price">$ ${price}</h5>
					<p>${description}</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</script>
		<script>
			var dataItems = [];
			var product;
			var imgNames;
			var current = 0;
			var size;
			function frw(){
			if (current < size-1) {
			current++;
			$('#productImg').attr("src",imgNames[current]);
			}
			}
			function bck(){
			if (current > 0) {
			current--;
			$('#productImg').attr("src",imgNames[current]);
			}
			}
			$(document).ready(function() {
				
				$(window).load(function() {
					$.ajax({
						type: "POST",
						url: "http://localhost:8000/productByID",
						data: JSON.stringify({id : location.search.split("id=")[1]}),
						success: function(result) {
							dataItems = result;
						},
						complete: function(result){
							$('#singleTmpl').tmpl(JSON.parse(dataItems)).appendTo('#product-one');
						product = JSON.parse(dataItems);
						imgNames = product.imageUrl;
						size = imgNames.length;
						$('#productImg').attr("src",imgNames[0]);
						console.log(product);
						} 					
					});
				});
			
				$("#ADDTOCART").click(function() {
					$.ajax({
						type: "POST",
						url: "http://localhost:8000/addProductToCart",
						data: JSON.stringify({id : location.search.split("id=")[1]}),
						success: function(result) {
						console.log(result);
						$("#resultAddToCart").html(result);
						}
					 });
				});
			});
		</script>
	</head>
<body> 
	<!--top-header-->
	<div class="top-header">
		<div class="container">
			<div class="top-header-main">
				<div class="col-md-6 top-header-left">
					</div>
				</div>
				<div class="col-md-6 top-header-left">
					<div class="cart box_1">
						<a href="basket.html">
							 <div class="total">
								<span class="simpleCart_total"></span></div>
								<img src="images/cart-1.png" alt="" />
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	<!--top-header-->
	<!--start-logo-->
	<div class="logo">
		<a href="index.html"><h1>BestBuy</h1></a>
	</div>
	<!--start-logo-->
	<!--bottom-header-->
	<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
				<ul class="memenu skyblue">
					<li class="active"><a href="index.html">Home</a>
						</li>
						<li class="grid"><a href="contact.html">Contact</a>
						</li>
						<li class="grid"><a href="account.html">My Account</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 header-right"> 
				<div class="search-bar">
					<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
					<input type="submit" value="">
				</div>
			</div>
			<div class="clearfix"> </div>
			</div>
	<!--product-starts-->
	<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div id="product-one">
					<div class="clearfix"></div>
				</div>
			</div>
		</div><div align="center"><a href="#"  id="ADDTOCART" class="add-cart item_add">ADD TO CART</a>
		<div id="resultAddToCart"></div></div>
	</div>
	<!--product-end-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
				</div>
				<div class="col-md-6 footer-right">					
					<p>© 2017 BestBuy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->	
</body>
</html>
