header{
  margin-bottom: 75px;
}

.input_box{
  margin-top: 50px !important;
}

.product-box{
  height: 250px;
  width: 250px;
  position: relative;
  background-color: blue;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-btn{
  position: absolute !important;
  bottom: 5px;
  right: 5px;
}

.product-name{
  position: absolute;
  left: 25px;
}

.userImage{
  width: 250px;
  height: 250px;
  background-color: green;
}

.userImage form{
  display: block;
  width: 100%;
  height: 100%;
}

.fieldsBox h5{
  margin-bottom: 25px;
}

#usernameTop:hover{
  cursor: pointer;
}
