header{
  margin-bottom: 75px;
}

.input_box{
  margin-top: 50px !important;
}

.product-box{
  height: 250px;
  width: 250px;
  position: relative;
  background-color: blue;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-btn{
  position: absolute !important;
  bottom: 5px;
  right: 5px;
}

.product-name{
  position: absolute;
  left: 25px;
}
